.nav {
  display: flex;
  justify-content: space-between;
  background-color: #ff91bb;
  padding: 10px;
  width: 100%;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  position: fixed;
top: 0px;
 

}
.nyka{

  background-color:white ;
position: fixed;
top: 42px;
  padding: 6px;
  width: 100%;

}
.left {
  margin-left: 25px;
}

.right1 {
  display: flex;
  text-decoration: none;
  gap: 100px;
  flex-basis: 1;

}

.right1>div>a {
  text-decoration: none;
  color: black;
}

.nikaimg {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.nav1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

}


.nyka>a {
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}

#space {
  color: #ff91bb;
  font-weight: 900;
  margin-left: 5px;
  padding: 4px;
  font-size: 20px;
}

input[type='text'] {
  margin-left: 10px;
  padding: 7px;
  background-color: #f1a9a9;
  border: 0;
  border-radius: 5px;
}

.nav2>div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;

}

.nav2>div>a {
  text-decoration: none;
  color: #a07f7f;
}

h1 {
  text-align: center;
  color: gray;
  margin-bottom: 8px;

}

#topbrands {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 20px;
}

#topbrands>div>div {
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

}

#topbrands>div>div>h2 {
  color: #ff91bb;
}

#topbrands>div>div>p {
  color: gray;
  padding: 10px;
}

.img {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  
  margin-top: 30px;
  margin-bottom: 15px;
}

#midnav {
  width: 90%;
  margin: auto;
  background-color: #f3f3f3;

}

#midnav>img {


  margin: auto;
  margin-left: 10px;
  border-radius: 10px;
}

#midimg {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
#midimg>div{
  width: 19%;
}

#featuredbrands {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

#featuredbrands>div>div {
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

#featuredbrands>div>img {
  width: 100%;
}

#featuredbrands>div>div>h2 {
  color: #ff91bb;
}

#featuredbrands>div>div>p {
  color: gray;
  padding: 10px;
}
#featuredbrands>div>{
    box-shadow: rgba(156, 57, 57, 0.16) 0px 1px 4px;
}


.feat2 {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  gap: 25px;
}

.feat2>div>div {
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.feat2>div>div>h2 {
  color: #ff91bb;
}

.feat2>div>div>p {
  color: gray;
  padding: 10px;
}

.feat3 {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  gap: 25px;
}

.feat3>div>div {
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;

}

.feat3>div>div>h2 {
  color: #ff91bb;

}

#h1 {
  text-align: left;
  margin-left: 25px;
}

.feat4 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  gap: 0px;
}

.feat4>div {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feat4>div>img {
  width: 100%;
}

.feat4>div>h1 {
  font-size: 20px;
  color: #fc2779;
}

.feat5 {
  display: flex;
  width: 90%;
  margin: auto;
  border: 0px solid black;
  gap: 20px;
}

.feat5>div {
  width: 48%;

  border: 0px solid red;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.feat5>div>img{
  width: 100%;
}

.feat6 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  gap: 40px;
}

.feat6>div {
  width: 23%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#popup{
  display: flex;
  width: 90%;
  margin: auto;
  gap: 20px;
}
#popup>div{
  gap: 25px;
  width: 48%;
}
#popup>div>img{
  width: 100%;
}
#navim{
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  
}
#mid{
  display: flex;
  width: 500px;
  margin: auto;
}
#end>div{
  display: flex;
  width: 100%;
  text-align: center;
  background-color:#3f414d ;
  color: white;
  margin-top: 10px;
  font-size: 10px;
  margin-top: 50px;
  
}
#end>div>div{
    font-size: 10px;
  padding: 5px;
  width: 32%;
}
#logo{
  width: 50%;
}
.footer{
  display: flex;
  width: 100%;
  color: white;
  font-size: 10px;
  padding: 80px;
  background-color: #8c8d94;
  gap: 20px;
}
.footer>div{
  width: 19%;
}
.footer>div>a{
  text-decoration: none;
  color:white;
}
#white{
  font-size: 14px;
}
#lovediv{
  display: flex;
  gap: 20px;
  font-size: 10px;
  margin-top: 50px;
}
#lovediv>div{
  width: 24%;
  padding: 20px;
}
.some>h4{
  font-size: 14px;
}
.some{
  display: flex;
}
.sfooter{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  background-color: #fc2779;
  color: white;
}
.sfooter>div{
  padding: 8px;
}
#last{
  display: flex;
  gap: 25px;
  margin: auto;
}
#img{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
 